configs/codex/*
!configs/codex/config.toml
!configs/codex/AGENTS.md

configs/fish/completions/*
configs/fish/conf.d/*
configs/fish/fish_variables
configs/fish/functions/*

configs/git/userconfig

configs/nvim/.luarc.json
configs/nvim/stylua.toml

configs/vim/.netrwhist

configs/X11/xauthority
